html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background: url('../images/background/image1.jpg') no-repeat 90% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.backgroundColor,
.vegas-background {
  display: none !important;
}
.header .headerHold {
  border-bottom: none;
  margin-bottom: 10px;
}
.header .headerHold--logo .fullWidthHeader{
  height: 77px;
}
.header .headerHold--nav {
  margin-bottom: 0;
}
.header .headerHold--nav .fullWidthHeader {
  margin-left: 5px;
}
.header .nav {
  float: left;
  margin-top: 0;
}
.header .nav ul {
  display: block;
  margin-bottom: 0;
}
.header .nav ul li a {
  padding: 10px;
  font-size: 24px;
  font-weight: 100;
}
.header .nav ul li a:hover{
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 700;
  font-style: normal;
}

.header .nav ul li a.active{
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 700 !important;
  font-style: normal;
}

.header .highlight {
  display: none !important;
  padding: 0 10px 10px 10px;
  margin-top: 7px;
}
.logo img{
  max-width: 183px;
  top: 10px;
  left: 15px;
}
#welcome-text{
    float: right;
    padding-top: 500px;
    padding-right: 600px;
}
.truth-box{
  max-width: 740px;
  min-height: 296px;
}
.truth-box h2{
  color:white;
}
.truth-content{
  padding:20px 40px 20px 20px;
}


@media only screen and (max-width: 767px) {
  body {
  background: url('../images/background/image1_s.jpg') no-repeat 90% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .header .nav ul li a {
  padding: 10px;
  font-size: 18px;
  font-weight: 100;
  }
  .header .headerHold {
    margin-bottom: 0;
  }
  .header .headerHold .logo {
    position: relative;
  }
  .header .headerHold--nav {
    margin-top: 10px;
  }
  .header .nav{
    margin-left: -10px;
  }
  .header .headerHold--nav .fullWidthHeader {
    margin-left: 15px;
  }
  .header .nav ul {
    display: block !important;
  }
  .header .tinynav {
    display: none !important;
  }
  #welcome-text{
    padding: 80px;
  }
  .truth-box{
    top: 8px;
    min-width: 352px;
  }

}