html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background: url('../images/background/image1.jpg') no-repeat 90% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact-link a{
  padding-left: 15px;
  width: 21px;
  height: 10px;
  margin-top: 2px;
  background: url('../images/contactus-link.png') 10px 10px no-repeat;
}
.backgroundColor,
.vegas-background {
  display: none !important;
}
.header .headerHold {
  border-bottom: none;
  margin-bottom: 10px;
}
.header .headerHold--logo .fullWidthHeader{
  height: 77px;
}
.header .headerHold--nav {
  margin-bottom: 0;
}
.header .headerHold--nav .fullWidthHeader {
  margin-left: 5px;
}
.header .nav {
  float: left;
  margin-top: 0;

}
.header .nav ul {
  display: block;
  margin-bottom: 0;
}
.header .nav ul li a {
  padding: 10px;
  font-size: 24px;
  font-weight: 100;
}
.current-tab{
  font-weight: 700 !important;
}
.header .nav ul li a:hover{
  font-weight: 700;
  color:white !important;
  font-style: normal;
}

.header .highlight {
  display: none !important;
  padding: 0 10px 10px 10px;
  margin-top: 7px;
}
.logo img{
  max-width: 183px;
  top: 10px;
  left: 15px;
}
#welcome-text{
    float: right;
    padding-top: 500px;
    padding-right: 600px;
}
.truth-box{
  max-width: 740px;
  min-height: 296px;
}
.truth-box h2{
  color:white;
}
.truth-content{
  padding:20px 40px 20px 20px;
}
.darkBackground{
  background: rgba(0,0,0,0.70);
}
.acc_heading{
  max-height: 80px;
}
.accordion_blog__header_description h3{
  margin: 0 !important;
}
dd {
  background-color:#222222;
  background: rgb(34, 34, 34);
  background: rgba(0, 0, 0, 0.2);
}
.work-thumbnail{
  width: 150px;
  height: 74px;
}
.b_heading{
  display:inline-flex;
}
.accordion_blog__header_description{
  padding-left:10px;
  margin-top:-6px;
}
h3{
  font-size:20px !important;
}
h2{
  font-size:23px;
}
img.scale-with-grid{
  height: 100%;
}
.client__logo__padding{
  padding-left:70px;
}
.darkStyle .accordion_blog dt .acc_heading {
  background-color: rgba(0,0,0,0.7);
}
.darkStyle .accordion_blog dt:hover .acc_heading{
 background-color: rgba(0,0,0,0.9); 
}
.creative__work__dd{
 background-color: rgba(0,0,0,0.7); 
}
.creative__work{
  float: left;
  margin-left: 20px;
  max-width: 354px;
}
.creative__work__dt{
  padding-bottom: 30px;
}
.creative__work__dd{
  min-width:1080px;
  margin-bottom:30px;
}
.work__content__description{
  width: 100%}
.work__content__videobox{
  height: 271px !important;
  width: 483px !important;
}
.video_content{
  height:100%;
}
.miniMize{
  width: 50px;
  height: 40px;
  float:right;
  background: url('../images/accordion_blog_white_icon.png') no-repeat 0 -23px;
}
@media only screen and (max-width: 767px) {
  body {
  background: url('../images/background/image1_s.jpg') no-repeat 90% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .creative__work__dd{
    min-width: 200px;
    max-width:337px;
  }
  h2{
  font-size:25px;
  }
  .container .four.columns{
    width: 250px !important;
  }
  .accordion_blog__header_description{
    padding-left:15px;
  }
  .header .nav ul li a {
  padding: 10px;
  font-size: 18px;
  font-weight: 100;
  }
  .header .headerHold {
    margin-bottom: 0;
  }
  .header .headerHold .logo {
    position: relative;
  }
  .header .headerHold--nav {
    margin-top: 10px;
  }
  .header .nav{
    margin-left: -10px;
  }
  .header .headerHold--nav .fullWidthHeader {
    margin-left: 15px;
  }
  .header .nav ul {
    display: block !important;
  }
  .header .tinynav {
    display: none !important;
  }
  #welcome-text{
    padding: 80px;
  }
  .truth-box{
    top: 8px;
    min-width: 352px;
  }
  .container{
    min-width: 337px !important;
  }
  .work-thumbnail{
    width:125px;
  }
  .client__logo__padding{
    padding-left:10px;
  }
  .creative__work__dt{
    padding-bottom: 10px;
  }

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .client__logo__padding{
    padding-left:25px;
  }
}